* {
  all: unset; //Unsets everything so you can style everything from scratch
  font: 16px 'Hack Nerd Font';
  font-weight: bold;
}

//Global Styles
.bar {
  background-color: #000000;
  color: #b0b4bc;
}

.icon {
  margin-right: 8px;
}
.display {
  margin-right: 15px;
}


.workspaces button:hover {
  color: #2d9c18;
}

