* {
	font-size: 20px;
	font-family: "FiraCode Nerd Font Propo";
}

window#waybar {
	background: #292b2e;
	color: #ccd9f3;
	font-weight: bold;
	opacity: 0.8;
}

#custom-right-arrow-dark,
#custom-left-arrow-dark {
	color: #1a1a1a;
}
#custom-right-arrow-light,
#custom-left-arrow-light {
	color: #292b2e;
	background: #1a1a1a;
}




#clock.1,#clock.2,#clock.3 {
	color: #ccd9ff;
}


#workspaces,
#clock.1,
#clock.2,
#clock.3,
#pulseaudio,
#memory,
#cpu,
#battery,
#disk,
#custom-nvidia,
#custom-cpuinfo,
#tray {
	background: #1a1a1a;
}

#workspaces button {
	padding: 0 2px;
	color: #ccd9fb;
}

#workspaces button:hover {
	color: #268bd2;
	box-shadow: inherit;
	text-shadow: inherit;
}
#workspaces button:hover {
	background: #1a1a1a;
	border: #1a1a1a;
	padding: 0 3px;
}

#pulseaudio {
	color:  #ccd9fe;
}
#memory {
	color: #ccd9fe;
}


#disk {
	color: #ccd9fb;
}

#custom-nvidia {
	color: #ccd9fb;
}

#network {
	color: #ccd9ff;
}


#custom-cpuinfo,#network {
	color: #ccd9ff;
	background: #1a1a1a;
}


#clock,
#pulseaudio,
#memory,
#cpu,
#battery,
#disk,
#custom-nvidia,
#custom-cpuinfo,
#tray {
	padding: 0 10px;
	padding-left: 20px;
}
