* {
	border: none;
	border-radius: 0;
	font-family: "Hack Nerd Font Propo";
	font-size: 18px;
	min-height: 0;
	margin: 0px;
}

window#waybar {
	background: rgba(0, 0, 0, 0.7);
	color: #ffffff;
}

#workspaces {
	padding: 0px;
	margin: 0px;
}

#workspaces button {
	padding: 0 8px;
	margin: 0px;
	background: transparent;
	font-weight: bold;

}

#workspaces button:hover {
	color: #ce7e00;
}

#workspaces button.active {
	color: #98e695;
	border-bottom: 2px solid #ce7e00;
}


#workspaces button.focused {
	color: #1b1d1e;
}


#cpu,#temperature,#memory,#disk,#custom-disk_vms,#network,#pulseaudio,#clock,#tray {
	padding: 0 8px;
	margin: 0 2px;
}

#cpu {
	color:  #ce7e00;
}

#temperature {
	color: #33c1ff;
}

#memory {
	color: #e033ff;
}

#disk {
	color: #337dff;
}

#custom-disk_vms {
	color: #ddff33; 
}

#network {
	color: #33ffe6;
}

#pulseaudio {
	color: #be33ff;
}

#clock {
	color: #3fff33;
}

