#####################################
#Meus Snippets
#####################################
snippet bsb "bash shebang"
#!/usr/bin/bash
endsnippet

snippet psb "python shebang"
#!/usr/bin/python
endsnippet
